SECRET_KEY=change-me-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=shimekah-churhc.onrender.com,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://shimekah-churhc.bofigauthier3.workers.dev,http://localhost:5173
CSRF_TRUSTED_ORIGINS=https://shimekah-churhc.bofigauthier3.workers.dev
